const tagExtractor = new TagExtractor(false, '@');

assertEquals('@test @whee', tagExtractor.findTagLine(GIVEN_EMPTY_NOTE));
assertEquals('@test @whee', tagExtractor.findTagLine(GIVEN_EMPTY_NOTE.substring(0, GIVEN_EMPTY_NOTE.length - 1)));
--- GIVEN_EMPTY_NOTE ---
# something something

@test @whee
